<div class="d-flex justify-content-between align-items-center">
  <h1 class="">Vehicles</h1>
  <%= link_to 'New Vehicle', new_vehicle_path, class: 'btn btn-outline-primary' %>
</div>

<div class="card-columns">
    <% @vehicles&.each do |vehicle| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= "#{vehicle.registration}" %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= "#{vehicle.make} #{vehicle.model}" %></h6>
          <%= link_to 'Show', vehicle, class: 'card-link' %>
          <%= link_to 'Edit', edit_vehicle_path(vehicle), class: 'card-link' %>
          <%= link_to 'Destroy', vehicle, method: :delete, data: {confirm: 'Are you sure?'}, class: 'card-link' %>
        </div>
      </div>
    <% end%>
  </div>

