<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Registration</th>
      <th>Make</th>
      <th>Model</th>
      <th>Trim</th>
      <th>Year</th>
      <th>Notes</th>
      <th>Documents</th>
      <th>Mileage</th>
      <th>Mot expires</th>
      <th>Insurance expires</th>
      <th>User</th>
      <th>Images</th>
      <th>Fuel Type</th>
      <th>Body Type</th>
      <th>Gearbox</th>
      <th>Colour</th>
      <th>Doors</th>
      <th>Fuel Consumption</th>
      <th>Engine Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.name %></td>
        <td><%= vehicle.registration %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.trim %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.notes %></td>
        <td><%= vehicle.documents %></td>
        <td><%= vehicle.mileage %></td>
        <td><%= vehicle.mot_expires %></td>
        <td><%= vehicle.insurance_expires %></td>
        <td><%= vehicle.user_id %></td>
        <td><%= vehicle.images %></td>
        <td><%= vehicle.fuel_type %></td>
        <td><%= vehicle.body_type %></td>
        <td><%= vehicle.gearbox %></td>
        <td><%= vehicle.colour %></td>
        <td><%= vehicle.doors %></td>
        <td><%= vehicle.fuel_consumption %></td>
        <td><%= vehicle.engine_size %></td>
        <td colspan="3"></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
